.App {
  font-family: sans-serif;
  text-align: center;
}
.EditInput {
  width: 100%;
  border: none;
  height: 30px;
}
.EditInput:hover {
  background-color: lightgray;
}
.EditInput:blur::placeholder {
  color: transparent;
}
.container {
  width: 300px;
}

.item {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 black;
  margin: 3px;/* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.item:hover {
  color: blue;
}